//
//form.scss
//

.form-control,
.form-select {
  padding: 10px;
  font-size: 14px;
  border-color: var(--#{$prefix}border-color);
  font-weight: 500;

  &::-webkit-input-placeholder {
    color: $gray-500;
    font-size: 13px;
  }

  &::-moz-placeholder {
    /* Firefox 19+ */
    color: $gray-500;
    font-size: 13px;
  }

  &:-ms-input-placeholder {
    /* IE 10+ */
    color: $gray-500;
    font-size: 13px;
  }

  &:-moz-placeholder {
    /* Firefox 18- */
    color: $gray-500;
    font-size: 13px;
  }
}

.custom-date {
  padding: 10px;
  font-size: 14px;
  border-color: var(--#{$prefix}border-color);
  font-weight: 500;
  display: block;
  width: 100%;
  line-height: 1.5;
  color: var(--bs-secondary-color);
  background-color: var(--bs-secondary-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

[type="search"]::-webkit-search-cancel-button,
.form-check-label,
.form-check-input {
  cursor: pointer;
}