input[type="date"]

/* Tùy chỉnh màu nền khi trỏ chuột vào trường nhập */
input[type="date"]:hover {
  background-color: #D9F3EA;
}

/* Tùy chỉnh màu nền khi trường nhập được chọn */
input[type="date"]:focus {
  background-color: #ffff;
  border: 1px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}